.imageICO {
    width: 32px;
    height: 32px;
    position: absolute;
    background-size: cover;
    display: inline-block;
}
.musicButton {
    bottom: 0;
    left: 0;
    padding: 10px;
    color: #c67a76
}

.mainButton {
    margin: 5px;
    width: 30%;
    height: 5%;
    background-size: cover;
    display: inline-block;
    background-color: #c67a76;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700; /* Try 600, 700, or 800 for bolder looks */
    transition-duration: 0.4s;
}

.mainButton:hover {
    background-color: #d88f8b;
      box-shadow: 0 5px 4px 0 #d88f8b, 0 17px 30px 0 #d88f8b;
    cursor: pointer;
    }