.textInput {
    width: 50%;
    padding: 10px;
    border: 0px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-family: var(--font), sans-serif;
    font-weight: 700;
    /* Try 600, 700, or 800 for bolder looks */
    font-size: 16px;
    color: #fff;
    background-color: var(--input-box);
    transition-duration: 0.4s
}

.textInput:hover {
    background-color: var(--input-box-hover);
}

.textInput:focus {
    background-color: var(--input-box-hover);
    border: 0px solid #ccc;
    outline: none;
}

.textInput:active {
    background-color: var(--input-box-hover);
    border: 0px solid #ccc;
}

::placeholder {
    /* modern browser */
    color: rgb(255, 255, 255);
}