.textInput {
  width: 50%;
  padding: 10px;
  border: 0px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700; /* Try 600, 700, or 800 for bolder looks */  font-size: 16px;
  color: #fff;
  background-color: #e5a9a9;
    transition-duration: 0.4s
}

.textInput:hover {
    background-color: #efbaba;
}

.textInput:focus {
    background-color: #efbaba;
    border: 0px solid #ccc;
    outline: none;
}
.textInput:active {
    background-color: #efbaba;
    border: 0px solid #ccc;
}

::placeholder {
    /* modern browser */
    color: rgb(255, 255, 255);
}