:root {
  --button: #8c966d;
  --button-hover: #9aa27e;
  --button-shadow: #9aa27e;

  --main-bg: #fbe9d2;
  --container-bg: #efd0a8;

  --heading-big: #ac682d;
  --heading-small: #DEAC80;
  --paragraph: #B99470;

  --timer-text-color: #ac682d;
}

html, body {
  width: 500px;
  height: 550px;
  margin: 0;
  padding: 0;
  overflow: hidden; /* <-- prevents scrollbars */
  border: 2px solid #fbe9d2;
  background-color: #fbe9d2;
}
h1 {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 900; /* Try 600, 700, or 800 for bolder looks */  color: #ac682d;
  font-size: 52px;
  margin:0
}

h2 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800; /* Try 600, 700, or 800 for bolder looks */    color: #ac682d;
    font-size: 38px;
    margin:0
}

h3 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700; /* Try 600, 700, or 800 for bolder looks */    color: #DEAC80;
    font-size: 26px;
      margin:2px
}

p {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  margin-top: 2px;
  margin-bottom: 2px;
  font-weight: 700; /* Try 400, 500, or 600 for different weights */
  color: #B99470;
  font-size: 14px;
}

a {
  color: #B99470;
  font-weight: 800;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-thickness: 1.3px;

}

a:hover {
  text-decoration-color: #d8ba9b;
  text-decoration-style: wavy;
  text-decoration-thickness: 1.5px;
}

.fade-out-up {
  animation: fadeOutUp 0.6s ease forwards;
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.stickyHyperlinkFooter {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
}
