:root {
  --button: #c67a76;
  --button-hover: #d88f8b;
  --button-shadow: #d88f8b;

  --main-bg: #f2dddd;
  --container-bg: #e5a9a9;

  --heading-big: #aa5750;
  --heading-small: #aa6d68;
  --paragraph: #753a33;
  --hyperlink: #804943;
  --hyperlink-hover: #8c5d58;

  --timer-text-color: #ffffff;

  --input-box: #d48585;
  --input-box-hover: #d48585;

  --task-card-bg: #e5a9a9;

  --level-1: #dec2c1;
  --level-2: #dea7a4;
  --level-3: #de9490;
  --level-4: #e07872;

  --ico-color: hue-rotate(325deg) saturate(1.5) brightness(1.1);
  /* Font */
  --font: 'Quicksand';

}

html,
body {
  user-select: none;
  width: 500px;
  height: 575px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* <-- prevents scrollbars */
  border: 2px solid var(--main-bg);
  background-color: var(--main-bg);
  transition-duration: 0.5s;
}

h1 {
  text-align: center;
  font-family: var(--font), sans-serif;
  font-weight: 900;
  color: var(--heading-big);
  font-size: 48px;
  transition-duration: 0.5s;
  margin: 0
}

h2 {
  text-align: center;
  font-family: var(--font), sans-serif;
  font-weight: 800;
  color: var(--heading-big);
  font-size: 34px;
  transition-duration: 0.5s;
  margin: 0
}

h3 {
  text-align: center;
  font-family: var(--font), sans-serif;
  font-weight: 700;
  color: var(--heading-small);
  font-size: 26px;
  transition-duration: 0.5s;

  margin: 2px
}

p {
  text-align: center;
  font-family: var(--font), sans-serif;
  margin-top: 2px;
  margin-bottom: 2px;
  font-weight: 700;
  transition-duration: 0.5s;

  color: var(--paragraph);
  font-size: 14px;
}

a {
  color: var(--hyperlink);
  font-weight: 800;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  transition-duration: 0.5s;

  text-decoration-thickness: 1.3px;

}

a:hover {
  text-decoration-color: var(--hyperlink-hover);
  text-decoration-style: wavy;
  text-decoration-thickness: 1px;
}

select {
  padding: 5px;
  border-radius: 6px;
  color: white;
  
  font-family: var(--font), sans-serif;
  font-size: 16px;
  font-weight: 550;
  border: 0px;
  transition-duration: 0.5s;
  background-color: var(--input-box);
  
}


select:hover, select:focus, select:active {
  outline: none;
  background-color: var(--input-box-hover);
}

select option {
  color: vwhite;
  font-family: var(--font), sans-serif;
  font-size: 16px;
  font-weight: 550;
  border: 5px;
}

.fade-out-up {
  animation: fadeOutUp 0.6s ease forwards;
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.stickyHyperlinkFooter {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
}