  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 0.4s;
    margin-left: 3px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
  }




  .remove-btn {
    background-color: #aa5750;
    color: white;
    border: none;
    padding: 8px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 0.4s;
        margin-left: 3px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
  }

  .remove-btn:hover {
    background-color: #ac6b66;
    cursor: pointer;
  }

  .repeat-btn {
    background-color: #c67a76;
    color: white;
    border: none;
    padding: 8px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 0.4s;
        margin-left: 3px;

    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
  }

  .repeat-btn:hover {
    background-color: #e29a96;
    cursor: pointer;
  }

  .repeat-btn:active {
    background-color: #d88f8b;
    box-shadow: 0 1px 1px 0 #d88f8b, 0 4px 7px 0 #d88f8b;
  }

  .repeat-btn-enabled {
    background-color: #d88f8b;
    box-shadow: 0 1px 1px 0 #d88f8b, 0 4px 7px 0 #d88f8b;
  }