.task-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;

  /* Scrollable logic */
  max-height: 300px;   /* You can adjust this height as needed */
  overflow-y: auto;
  padding-right: 5px;
}

.task-container::-webkit-scrollbar {
  width: 6px;
}

.task-container::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 20px;
}

.task-card {
  display: flex;
  flex-direction: column;
  background-color: var(--task-card-bg);
  padding: 15px;
  border-radius: 8px;
  width: 300px;
  color: white;
  font-family: var(--font), sans-serif;
  position: relative;
  transition: transform 0.2s;
}

.tasks-count-label {
  padding: 10px;
  background: #eee;
  white-space: nowrap; /* optional: prevents wrapping */
}

.tasks-filler-box {
  flex-grow: 1;
  background-color: #cce5ff;
}