.task-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;

  /* Scrollable logic */
  max-height: 300px;   /* You can adjust this height as needed */
  overflow-y: auto;
  padding-right: 5px;
}

.task-container::-webkit-scrollbar {
  width: 6px;
}

.task-container::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 20px;
}

.task-card {
  display: flex;
  flex-direction: column;
  background-color: var(--task-card-bg);
  padding: 15px;
  border-radius: 8px;
  color: white;
  font-family: var(--font), sans-serif;
  position: relative;
  transition: transform 0.2s;
}

.task-header {
  font-size: 16px;
  font-weight: bold;
}

.task-date {
  font-size: 12px;
  color: white;
  margin-bottom: 8px;
}

.task-buttons {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}
